@import "common.css";
@import "frame.css";

.box {
  margin: 100px 0;
}

.error_message {
  font-size: 30px;
}

.guide {
  font-size: 15px;
}

.box11 {
  padding: 0.5em 1em;
  margin: 2em 0;
  background: white;
  border-top: solid 5px var(--color-main);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.box11 p {
  margin: 0;
  padding: 0;
}

.share {
  display: none;
}
