#parent {
  display: flex;
  justify-content: center;
  background-color: #F1F1F1;
}

#child1 {
  max-width: 1280px;
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.normal_margin {
  margin: 65px 15px 0 15px;
}

/* ↑ PC用 ↑ */
