#parent {
  display: flex;
  justify-content: center;
  background-color: #F1F1F1;
}

#child1 {
  max-width: 1280px;
  background-color: #FFFFFF;
}

.balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  background: var(--color-text);
}

.balloon1 p {
  text-align: center;
  color: #ffffff;
}

.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid var(--color-text);
}

.balloon1 p {
  margin: 0;
  padding: 0;
}

.twitter-timeline {
  width: 100%;
}

.img-JMS {
  min-width: 100%;
  max-width: 100%;
  opacity: 1;
  transition: 0.3s ease;
}

.img-JMS:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}

.info-icon::before,
.update-icon::before,
.open-icon::before,
.ip-address-icon::before {
  color: white;
  font-family: 'Material Icons Sharp';
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.comment {
  margin-right: 8px;
  margin-left: 8px;
}

.comment p {
  color: white;
  line-height: 1.5;
  font-size: 15px;
  overflow-wrap: break-word;
}

.sidebar-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  margin: 25px 0 0 20px;
  padding: 10px 0 3px 0;
  background: var(--color-hover);
}

.sidebar-wrapper p {
  margin: 16px 0;
}

.sidebar-wrapper .ip-address,
.sidebar-wrapper .info,
.sidebar-wrapper .update,
.sidebar-wrapper .open,
.sidebar-wrapper .youtube {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 0 -20px;
  width: calc(100% + 20px);
  font-size: 22px;
  color: white;
}

.ip-address {
  background: var(--color-fad-second);
}

.ip-address::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px var(--color-fad-main);
}

.ip-address-icon::before {
  content: "\e30c";
}

.ip-address_p {
  font-weight: bold !important;
  text-align: center;
  margin: 10px 0 0 0 !important;
  padding: 0 !important;
  font-size: 35px !important;
}

.rules {
  font-size: 11px !important;
}

.info {
  background: #70c7ff;
}

.info::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #54a7df;
}

.info-icon::before {
  content: "\ef49";
}

.update {
  background: #6cdf5b;
}

.update::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #34b445;
}

.update-icon::before {
  content: "\e86a";
}

.open {
  background: #F2BC1B;
}

.open::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #F2A30F;
}

.open-icon::before {
  content: "\ebcc";
}

.sidebar-wrapper .youtube {
  background: #ff6868;
}

.sidebar-wrapper .youtube::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px var(--color-logo-youtube);
}

.youtube-icon::before {
  content: "\f167";
  color: white;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  margin-right: 10px;
}

.a_blank_open,
.a_sidebar,
.a_sidebar_blank {
  color: #FFFFFF;
  text-decoration: underline;
}

.a_blank_open::after,
.a_sidebar_blank::after {
  content: " \f35d  ";
  color: #FFFFFF;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}

.a_blank_open:hover,
.a_blank_open:hover::after {
  color: var(--color-logo-youtube);
}

.a_sidebar:hover,
.a_sidebar_blank:hover,
.a_sidebar_blank:hover::after {
  color: var(--color-text);
}

.youtube-archive {
  position: relative;
  transition: 0.3s ease;
}

.youtube-archive:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s ease;
}

.youtube_window {
  position: relative;
  transition: 0.3s ease;
}

.thumbnail {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../image/icon/icon_youtube_color.svg);
  top: 0;
  left: 0;
}

.youtube_window:hover {
  filter: brightness(110%);
  opacity: 0.8;
  transition: 0.3s ease;
}

/* ↓ FADカウントダウン ↓ */
.countdown-nokori,
.countdown-timer span {
  line-height: 1;
  color: #ffffff;
  margin: 0;
}

.countdown-label {
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 5px;
}

.countdown_days,
.countdown_hours,
.countdown_min,
.countdown_sec {
  font-size: 30px;
  margin: 0 5px;
}

.comment2 {
  border-top: 2px solid #FFFFFF;
}

.comment>.tytle {
  font-weight: bold;
  font-size: 20px;
}

/* ↑ FADカウントダウン ↑ */
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.normal_margin {
  margin: 0px 15px;
}

/* ↓ スマホ用 ↓ */
@media all and (max-width: 900px) {
  .youtube_window {
    width: 98%;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  .youtube-archive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #child1 {
    flex-grow: 0;
    width: 100%;
  }
}

/* ↑ スマホ用 ↑ */
/* ↓ PC用 ↓ */
@media all and (min-width: 901px) {
  .youtube-archive {
    max-width: 344px;
    min-width: 344px;
    max-height: 193px;
    min-height: 193px;
    margin: 0 auto;
  }

  .normal_margin {
    margin: 0px 30px;
    margin-bottom: 30px;
  }

  #child1 {
    flex-grow: 1;
    width: calc(100% - 420px);
  }
}

/* ↑ PC用 ↑ */

/* ↓ お知らせバナー ↓ */
#news-bar {
  display: none;
  margin-bottom: -65px;
}

.news-banner {
  display: inline-block;
  margin-top: 65px;
  width: 100%;
  height: auto;
}

.a_news-bar_blank,
.a_news-bar {
  color: #ffffff;
  text-decoration: underline;
  transition: 0.3s ease;
}

.a_news-bar_blank::after {
  content: "\e89e";
  color: #ffffff;
  font-family: 'Material Icons Round';
  font-size: 10px;
  margin-right: 10px;
}

.a_news-bar_blank:hover,
.a_news-bar_blank:hover::after,
.a_news-bar:hover {
  color: var(--color-hover);
  transition: 0.3s ease;
}

.news-banner_p::before {
  color: white;
  font-family: 'Material Icons Round';
  font-size: 20px;
  margin-right: 10px;
  margin-left: 7px;
  vertical-align: middle;
}

/* 緊急連絡 */
.news-banner {
  background-color: #980003;
}

.news-banner_p::before {
  content: "\f083";
}

/* 処分連絡 */
/*.news-banner {
  background-color: #223440;
}
.news-banner_p::before {
  content: "\e14b";
}*/

/* 規約変更連絡 */
/*.news-banner {
  background-color: #5B7876;
}
.news-banner_p::before {
  content: "\e666";
}*/

.news-banner_p {
  text-align: center;
  /*一応BOX内の文字も中央寄せ*/
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 15px;
  margin: 0;
}

/* ↑ お知らせバナー ↑ */
