@import url('https://use.fontawesome.com/releases/v7.2.0/css/all.css');
@import "common.css";

.about-me {
  display: block;
  text-align: center;
}

.icon {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  border-radius: 50%;
  padding: 30px;
  background-color: var(--color-main);
}

.icon svg {
  text-align: center;
}

.language {
  color: var(--color-main);
  border-top: solid var(--color-main) 1px;
  /*上のボーダー*/
  border-bottom: solid var(--color-main) 1px;
  /*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
  margin-top: 10px;
}

.language li {
  line-height: 1.5;
  padding: 0.5em 0;
}

.meigi {
  width: 100%;
  display: flex;
}



.nisigma,
.major_exe {
  flex: 1;
  margin: 0 5px;
  padding: 0.5em 1em;
  border: solid 1px var(--color-second);
  border-radius: 4px;
}

@media all and (max-width: 900px) {
  .meigi {
    display: inline-block;
  }

  .major_exe {
    margin-top: 15px;
  }
}

.major_icon_div {
  background-color: black;
}

.major_icon {
  width: 90px;
}

/* ↓ボタン関係↓ */
.account {
  color: #484848;
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  padding: 10px;
  line-height: 50px;
  line-height: normal;
  background: #f4f4f4;
  text-decoration: none;
  margin: 1em;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.account-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  flex-shrink: 0;
}

.account-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.explanation {
  font-weight: normal;
}

.account-logo::before {
  display: inline-block;
  text-align: center;
  font-size: 28px;
  color: white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.account-logo-twitter::before {
  background: var(--color-logo-twitter);
  content: "\e61b";
}

.account-logo-youtube::before {
  background: var(--color-logo-youtube);
  content: "\f167";
}

.account-logo-twitch::before {
  background: var(--color-logo-twitch);
  content: "\f1e8";
}

.account-logo-amazon::before {
  background: var(--color-logo-amazon);
  content: "\f270";
}

.account-logo-line::before {
  background: var(--color-logo-line);
  content: "\f3c0";
}

.account-logo-server::before {
  background: #1e1e1e;
  content: "\f233";
}

.account-logo-wiki::before {
  background: #00d80c;
  content: "\f233";
}


.account-logo-github::before {
  background: var(--color-logo-github);
  content: "\f09b";
}

.account-logo-fad::before {
  background: #000946;
  content: "";
  background-image: url("../image/index/logo.svg");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

/* ↑ボタン関係↑ */
