@import url('https://use.fontawesome.com/releases/v7.2.0/css/all.css');
@import "common.css";

.about-me {
  display: block;
  text-align: center;
}

.icon {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  border-radius: 50%;
  padding: 30px;
  background-color: var(--color-main);
}

.icon svg {
  text-align: center;
}

.language {
  color: var(--color-main);
  border-top: solid var(--color-main) 1px;
  /*上のボーダー*/
  border-bottom: solid var(--color-main) 1px;
  /*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
  margin-top: 10px;
}

.language li {
  line-height: 1.5;
  padding: 0.5em 0;
}

.meigi {
  width: 100%;
  display: flex;
}



.nisigma,
.major_exe {
  flex: 1;
  margin: 0 5px;
  padding: 0.5em 1em;
  border: solid 1px var(--color-second);
  border-radius: 4px;
}

@media all and (max-width: 900px) {
  .meigi {
    display: inline-block;
  }

  .major_exe {
    margin-top: 15px;
  }
}

.major_icon_div {
  background-color: black;
}

.major_icon {
  width: 90px;
}

/* ↓ボタン関係↓ */
.account {
  color: #484848;
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  padding: 10px;
  line-height: 50px;
  line-height: normal;
  background: #f4f4f4;
  text-decoration: none;
  margin: 1em;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.account-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  flex-shrink: 0;
}

.account-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.explanation {
  font-weight: normal;
}

.account-logo::before {
  display: inline-block;
  text-align: center;
  font-size: 28px;
  color: white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.account-logo-twitter::before {
  background: var(--color-logo-twitter);
  content: "\e61b";
}

.account-logo-youtube::before {
  background: var(--color-logo-youtube);
  content: "\f167";
}

.account-logo-twitch::before {
  background: var(--color-logo-twitch);
  content: "\f1e8";
}

.account-logo-amazon::before {
  background: var(--color-logo-amazon);
  content: "\f270";
}

.account-logo-line::before {
  background: var(--color-logo-line);
  content: "\f3c0";
}

.account-logo-server::before {
  background: #1e1e1e;
  content: "\f233";
}

.account-logo-wiki::before {
  background: #00d80c;
  content: "\f233";
}

.account-logo-misskey::before {
  background: #A1CA03;
  content: "";
  background-image: url("../image/index/misskey.svg");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.account-logo-github::before {
  background: var(--color-logo-github);
  content: "\f09b";
}

.account-logo-discord::before {
  background: #5865F2;
  content: "\f392";
}

.account-logo-site::before {
  background: var(--color-main);
  content: "\f2d0";
}

.account-logo-fad::before {
  background: #000946;
  content: "";
  background-image: url("../image/index/logo.svg");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

/* ↑ボタン関係↑ */
/* ul */
.desc .img-frame img {
  max-width: 315px;
}

.desc ul {
  padding-left: 15px;
  list-style-type: disc;
}

.cp_timeline01 {
  position: relative;
  width: 100%;
  margin: 3em auto;
  padding: 1em 0;
  list-style-type: none;
}

.cp_timeline01:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: '';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: var(--color-main);
  z-index: 5;
}

.cp_timeline01 li {
  padding: 4px 0;
}

.cp_timeline01 li:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.cp_timeline01 li:nth-child(odd) .timeline_item {
  position: relative;
  width: calc(50% - 29px);
  float: left;
  text-align: right;
}

.cp_timeline01 li:nth-child(even) .timeline_item {
  position: relative;
  width: calc(50% - 29px);
  float: right;
}

.cp_timeline01 li .timeline_item .flag_cont {
  position: relative;
  display: inline-block;
  text-align: center;
}

.cp_timeline01 li .timeline_item .flag {
  position: relative;
  display: inline-block;
  background: var(--color-main);
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
}

.cp_timeline01 li:nth-child(odd) .timeline_item .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.cp_timeline01 li:nth-child(even) .timeline_item .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.cp_timeline01 li:nth-child(odd) .timeline_item .flag_cont:before,
.cp_timeline01 li:nth-child(even) .timeline_item .flag_cont:before {
  position: absolute;
  top: 20px;
  right: -41px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: var(--color-main);
  border-radius: 12px;
  border: 6px solid var(--color-main);
  z-index: 10;
}

.cp_timeline01 li:nth-child(even) .timeline_item .flag_cont:before {
  left: -41px;
}

.cp_timeline01 li:nth-child(odd) .timeline_item .flag_cont:after,
.cp_timeline01 li:nth-child(even) .timeline_item .flag_cont:after {
  position: absolute;
  top: 22px;
  right: -39px;
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 1);
  z-index: 10;
}

.cp_timeline01 li:nth-child(even) .timeline_item .flag_cont:after {
  left: -39px;
}

.cp_timeline01 li:nth-child(odd) .timeline_item .flag:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -6px;
  border: solid transparent;
  border-left-color: var(--color-main);
  border-width: 6px;
}

.cp_timeline01 li:nth-child(even) .timeline_item .flag:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -6px;
  border: solid transparent;
  border-right-color: var(--color-main);
  border-width: 6px;
}

.cp_timeline01 li .timeline_item .time {
  display: block;
  padding: 4px 6px;
  font-size: 0.8em;
  line-height: 2;
  color: var(--color-text);
  text-align: right;
}

.cp_timeline01 li:nth-child(even) .timeline_item .time {
  text-align: left;
}

.cp_timeline01 li .timeline_item .desc {
  margin: 1em 0.75em 0 0;
  font-size: 15px;
  line-height: 2;
  margin: 1em 1em 0 1em;
  padding: 1em;
  background: var(--color-second);
  border-radius: 6px;
}

.desc {
  text-align: left;
}

@media only screen and (max-width:768px) {
  .cp_timeline01 {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .cp_timeline01 li {
    padding: 8px 0;
  }

  .cp_timeline01 li:nth-child(odd) .timeline_item,
  .cp_timeline01 li:nth-child(even) .timeline_item {
    float: none;
    width: 100%;
    text-align: center;
  }

  .cp_timeline01 li .timeline_item .flag_cont {
    text-align: center;
  }

  .cp_timeline01 li .timeline_item .flag {
    z-index: 15;
  }

  .cp_timeline01 li:nth-child(odd) .timeline_item .flag_cont:before,
  .cp_timeline01 li:nth-child(even) .timeline_item .flag_cont:before {
    top: -30px;
    right: calc(50% - 12px);
    left: calc(50% - 12px);
  }

  .cp_timeline01 li:nth-child(odd) .timeline_item .flag_cont:after,
  .cp_timeline01 li:nth-child(even) .timeline_item .flag_cont:after {
    top: -28px;
    right: calc(50% - 10px);
    left: calc(50% - 10px);
  }

  .cp_timeline01 li:nth-child(odd) .timeline_item .flag:after,
  .cp_timeline01 li:nth-child(even) .timeline_item .flag:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -6px;
    height: 0;
    width: 0;
    margin-left: -6px;
    border: solid transparent;
    border-bottom-color: var(--color-main);
    border-width: 6px;
    pointer-events: none;
  }

  .cp_timeline01 li .flag_cont {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .cp_timeline01 li:nth-child(odd) .timeline_item .time,
  .cp_timeline01 li:nth-child(even) .timeline_item .time {
    float: none;
    text-align: center;
    background: #ffffff;
  }

  .cp_timeline01 li .timeline_item .desc {
    position: relative;
    z-index: 15;
  }

  .desc {
    text-align: left;
  }
}
