<meta charset="UTF-8">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-68E3KJBX33"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-68E3KJBX33');
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "西隈",
        "url": "https://nisigma200.github.io/nisigma200/",
        "jobTitle": "Software Engineer and Calligrapher (システムエンジニア・書家)",
        "sameAs": [
            "https://x.com/nisigma_200",
            "https://github.com/Nisigma200"
        ]
    }
    </script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' https://instant.page https://www.googletagmanager.com; connect-src 'self' https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https://use.fontawesome.com https://fonts.googleapis.com; font-src 'self' https://use.fontawesome.com https://fonts.gstatic.com;">

<title>{{ page.title }}</title>

<!-- favicon設定 -->
<meta name="msapplication-square70x70logo" content="{{ site.baseurl}}/image/favicon/site-tile-70x70.png">
<meta name="msapplication-square150x150logo" content="{{ site.baseurl}}/image/favicon/site-tile-150x150.png">
<meta name="msapplication-wide310x150logo" content="{{ site.baseurl}}/image/favicon/site-tile-310x150.png">
<meta name="msapplication-square310x310logo" content="{{ site.baseurl}}/image/favicon/site-tile-310x310.png">
<meta name="msapplication-TileColor" content="#242424">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ site.baseurl}}/image/favicon/favicon.ico">
<link rel="icon" type="image/vnd.microsoft.icon" href="{{ site.baseurl}}/image/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl}}/image/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="36x36" href="{{ site.baseurl}}/image/favicon/android-chrome-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="{{ site.baseurl}}/image/favicon/android-chrome-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="{{ site.baseurl}}/image/favicon/android-chrome-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl}}/image/favicon/android-chrome-96x96.png">
<link rel="icon" type="image/png" sizes="128x128" href="{{ site.baseurl}}/image/favicon/android-chrome-128x128.png">
<link rel="icon" type="image/png" sizes="144x144" href="{{ site.baseurl}}/image/favicon/android-chrome-144x144.png">
<link rel="icon" type="image/png" sizes="152x152" href="{{ site.baseurl}}/image/favicon/android-chrome-152x152.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl}}/image/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="256x256" href="{{ site.baseurl}}/image/favicon/android-chrome-256x256.png">
<link rel="icon" type="image/png" sizes="384x384" href="{{ site.baseurl}}/image/favicon/android-chrome-384x384.png">
<link rel="icon" type="image/png" sizes="512x512" href="{{ site.baseurl}}/image/favicon/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="36x36" href="{{ site.baseurl}}/image/favicon/icon-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="{{ site.baseurl}}/image/favicon/icon-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="{{ site.baseurl}}/image/favicon/icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl}}/image/favicon/icon-96x96.png">
<link rel="icon" type="image/png" sizes="128x128" href="{{ site.baseurl}}/image/favicon/icon-128x128.png">
<link rel="icon" type="image/png" sizes="144x144" href="{{ site.baseurl}}/image/favicon/icon-144x144.png">
<link rel="icon" type="image/png" sizes="152x152" href="{{ site.baseurl}}/image/favicon/icon-152x152.png">
<link rel="icon" type="image/png" sizes="160x160" href="{{ site.baseurl}}/image/favicon/icon-160x160.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl}}/image/favicon/icon-192x192.png">
<link rel="icon" type="image/png" sizes="196x196" href="{{ site.baseurl}}/image/favicon/icon-196x196.png">
<link rel="icon" type="image/png" sizes="256x256" href="{{ site.baseurl}}/image/favicon/icon-256x256.png">
<link rel="icon" type="image/png" sizes="384x384" href="{{ site.baseurl}}/image/favicon/icon-384x384.png">
<link rel="icon" type="image/png" sizes="512x512" href="{{ site.baseurl}}/image/favicon/icon-512x512.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl}}/image/favicon/icon-16x16.png">
<link rel="icon" type="image/png" sizes="24x24" href="{{ site.baseurl}}/image/favicon/icon-24x24.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl}}/image/favicon/icon-32x32.png">
<link rel="icon" sizes="any" href="{{ site.baseurl }}/image/favicon/favicon.svg" type="image/svg+xml">

<!-- Safariのアイコン色（mask-icon） -->
<link rel="mask-icon" href="{{ site.baseurl}}/image/favicon/favicon.svg" color="#242424">
<meta name="theme-color" content="#242424">

<!-- Referrer-Policy -->
<meta name="referrer" content="no-referrer-when-downgrade">

<!-- CSS -->
<link rel="stylesheet" href="{{ 'css/common.css' | relative_url }}">

<!-- OGP -->
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">

{% if page.og_image %}
<meta property="og:image" content="{{ page.og_image | absolute_url }}">
{% else %}
<meta property="og:image" content="{{ '/image/ogp/default.jpg' | absolute_url }}">
{% endif %}

<meta property="og:description" content="{{ page.description | default: site.description }}">
<meta property="og:site_name" content="{{ site.title }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nisigma_200">
<meta name="twitter:creator" content="@nisigma_200">
