<meta charset="UTF-8">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-68E3KJBX33"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-68E3KJBX33');
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "西隈",
        "url": "https://nisigma200.github.io/nisigma200/",
        "jobTitle": "Software Engineer and Calligrapher (システムエンジニア・書家)",
        "sameAs": [
            "https://x.com/nisigma_200",
            "https://github.com/Nisigma200"
        ]
    }
    </script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' https://instant.page https://www.googletagmanager.com; connect-src 'self' https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https://use.fontawesome.com https://fonts.googleapis.com; font-src 'self' https://use.fontawesome.com https://fonts.gstatic.com;">

<title>{{ page.title }}</title>
<link rel="icon" href="{{ 'image/icon/Nisigma_favicon.ico' | relative_url }}">
<link rel="stylesheet" href="{{ 'css/common.css' | relative_url }}">
